<!DOCTYPE html>

<html>
    <body>
        <h1> {{.Title}} </h1>

        <div class="tab">
            <button class="tablinks" onclick="openTab(event,'Promtool')">Promtool</button>
            <button class="tablinks" onclick="openTab(event,'AlertManager')">AlertManager</button>
        </div>

        <form method="POST" action="/" >  
            <div class="tabcontent" id="Promtool">
                <textarea name="config" placeholder="Copiez le contenu de votre fichier Promtool"></textarea>
                <input type="number" class="hidden-input" name="identifier" value=1/>
            </div>

            <div class="tabcontent" id="AlertManager">
                <textarea name="config" placeholder="Copiez le contenu de votre fichier Alertmanager"></textarea>
                <input type="number" class="hidden-input" name="identifier" value=2/>
            </div>

            <input type="submit" id="Btnverif" value="Vérifier la configuration"/>
        </form>
    </body>
</html>

<script>
    function openTab(evt, tool) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tool).style.display = "block";
    evt.currentTarget.className += " active";
    }   
</script>

<style>
    .hidden_input{
        display:none;
    }
</style>


  